div#app-container {
    height: 100vh; 
    width: 100vw; 
    min-width: 800px; 
    position: relative;
    overflow: hidden;
}

div#app-title {
    height: 3em; 
    background-color: grey;
    font-variant: small-caps;
    color: black;
    margin-left: 0.25em;
    font-size: 24px;
}

div#sidenav {
    display: inline-block; 
    height: 100%; 
    vertical-align: top; 
    background-color: grey;
}

div#sidenav li {
    list-style: none;
    margin-left: -2em;
    font-size: 16px;
}

div#sidenav a, div#app-title a {
    text-decoration: none;
    color: black;
    font-variant: small-caps;
}

div#main-content {
    display: inline-block; 
    position: absolute; 
    left: 7em; 
    top: 3em; 
    right: 0; 
    bottom: 0; 
    vertical-align: top; 
    padding: 1em; 
    border-radius: 1em 0 0 0; 
    background-color: black; 
    box-shadow: 0 0 1em 0.5em black;
    overflow: auto;
}