<div id="app-container">
    
    <!-- header -->
    <div id="app-title">moon</div>

    <!-- sidenav -->
    <div id="sidenav">
        <nav>
            <ul>
                <li>
                    <a routerLink="/gallery/pics">pics</a>
                </li>
                <li>
                    <a routerLink="/gallery/vids">vids</a>
                </li>
                <li>
                    <a routerLink='/stars/stars-list'>stars</a>
                </li>
            </ul>
        </nav>
    </div>

    <!-- content area -->
    <div id="main-content">
        <router-outlet></router-outlet>
    </div>
</div>